<!DOCTYPE html>
<html lang="en">
   <!-- Building the settings and title element above the form-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Fraudtech</title>
    </head>
    <body>
        <h1>Fraudtech feature request</h1>
    </body>

</head>
   
   <body>
      <form action = "./submit" id = "feature_request_form" name = "feature_request_form" onsubmit = "return(validate());" method = "POST">
         <table cellspacing = "2" cellpadding = "2" border = "1">

            <tr>
               <td align = "right">Team</td>

               <td>
                  <input hidden type = "text" id = "teams_TEid_ht" name = "teams_TEid" value = "-1"/>
                  <input id = "teams_teamName_ht" type = "text" name = "teams_teamName" placeholder = "Enter your Team ID here"/>
                  <textarea hidden id = "teams_description_ht" name = "teams_description" rows = "5" cols = "80" placeholder = "Enter the team mission statement here" /></textarea>
                  <textarea hidden id = "teams_notes_ht" name = "teams_notes" rows = "5" cols = "80" placeholder = "Enter any notes here" /></textarea>
               </td>
               <td id = "addTeam">
                  <input type= "button" value = "Add Team" id="addTeamRequest">
               </td>
            </tr>

            <tr id = "people_LOGid_element">
               <td align = "right">Login</td>
               <td>
                  <input hidden type = "text" id = "people_LOGid_ht" name = "people_LOGid" value = "-1"/>
                  <input type = "text" id = "people_Login_ht" name = "people_Login" placeholder = "Enter your unique login id here" required/>
                  <input hidden type = "text" id = "people_firstname_ht" name = "people_firstname" placeholder = "Enter your first name here" />
                  <input hidden type = "text" id = "people_lastname_ht" name = "people_lastname" placeholder = "Enter your last name here" />
                  <input hidden type = "text" id = "people_contact_info_ht" name = "people_contact_info" size = "42" placeholder = "Enter your contact info here" required/>
                  <textarea hidden id = "people_notes_ht" name = "people_notes" rows = "5" cols = "80" placeholder = "Enter any notes here" /></textarea>
               </td>
               <td id = "addPeople">
                  <input type= "button" value = "Add Person" id="addPersonRequest">
               </td>
            </tr>

            <tr>
               <td align = "right">Name</td>
               <td><input id = "name_ht" type = "text" name = "Name" placeholder = "Enter your name here"/></td>
            </tr>
            
            <tr>
               <td align = "right">What is the business proccess name/tool name</td>
               <td><textarea name = "ProcName" rows = "5" cols = "80" placeholder = "type your process name here"></textarea></td>
            </tr>
            
            <tr>
               <td align = "right">Please provide a brief summary of the current business process and time taken to complete</td>
               <td><textarea name = "OldDesc" rows = "5" cols = "80" placeholder = "Give us the description of the old process here"></textarea></td>
            </tr>

            <tr>
               <td align = "right">How many staff are or will use the tool/process</td>
               <td>
                  <input type = "number" name = "NoStaff" min = "1"/>
               </td>
            </tr>

            <tr>
               <td align = "right">Please provide a numbered list of all the required features</td>
               <td id = "reqFeatures">
                  <input type= "button" value = "Add element" id="addReqFeature">
               </td>
            </tr>

            <tr>
               <td align = "right">Please outline any ongoing maintenance that may be required for this enhancement/process</td>
               <td><textarea name = "maintenance"  rows = "5" cols = "80" placeholder = "Write about ongoing maintenance here"/></textarea></td>
            </tr>

            <tr>
               <td align = "right">Please identify all known stakeholders of the current business process</td>
               <td id = "stakeHolders">
                  <input type= "button" value = "Add Stakeholder" id="addStakeHolder">
               </td>
            </tr>

            <tr>
               <td align = "right">Please attach any supporting documents</td>
               <td>
                  <input type = "file" name = "Attach" />
               </td>
            </tr>
            
            <tr>
               <td align = "right"></td>
               <td>
                  <input type = "submit" value = "Submit" id = "Submit"/>
                  <input type= "button" value = "Download" onclick="download(feature_request_form)" id="Download" />

               </td>
            </tr>
            
         </table>
      </form>      
   </body>
   <script type = "text/javascript">
        //<!--

           // Form validation code will come here.
           function validate() {
              
               // get a reference to all input[text], input[number], and textarea's on the page
               var inputs = document.querySelectorAll('input[type=text], input[type=number], textarea');

               // inputs is an array of elements
               for (var element of inputs) {
                  console.log(element.name, element.value);
                  if (element.value == "" ) {
                     alert( "Please provide details for:" + element.name);
                     element.focus();
                     return false
                  }
               }

              return( true );
           }

           function downloadData(contentType,data,filename){
               
               var link=document.createElement("A");
               link.setAttribute("href",encodeURI("data:"+contentType+","+data));
               link.setAttribute("style","display:none");
               link.setAttribute("download",filename);
               document.body.appendChild(link); //needed for firefox
               console.log(link.outerHTML);
               link.click();
               setTimeout(function(){
                  document.body.removeChild(link);
               },1000);
            }
            
            function fromToXml(form){
               var xmldata=['<?xml version="1.0"?>'];
                  xmldata.push("<form>");
               var inputs=form.elements;
               for(var i=0;i<inputs.length;i++){
                  var el=document.createElement("ELEMENT");
                  if (inputs[i].name){
                     el.setAttribute("name",inputs[i].name);
                     el.setAttribute("value",inputs[i].value);
                     xmldata.push(el.outerHTML);
                  }
                  
               }
               xmldata.push("</form>");
               return xmldata.join("\n");
            }
            
            
            function download(frm){
               
               if (!validate()){
                  return false;
               }
               var data=fromToXml(frm);
               console.log(data);
               
               downloadData("text/xml",data,"export.xml");
            }

            var button1 = document.getElementById("addReqFeature");
            var element1 = document.getElementById("reqFeatures");
            var n1 = 0;

            button1.addEventListener('click', function (event) {
               n1++;

               // create new textarea
               var new_textarea = document.createElement('textarea');
               new_textarea.setAttribute('id', 'feature_' + n1);
               new_textarea.setAttribute('name', 'feature_' + n1);
               //rows = "5" cols = "80"
               new_textarea.setAttribute('rows', '5');
               new_textarea.setAttribute('cols', '80');
               new_textarea.setAttribute('placeholder', 'Enter the desired feature here');
               
               // create label for textarea
               var new_label = document.createElement('label');
               new_label.setAttribute('for', new_textarea.id)
               new_label.textContent = 'Feature ' + n1 + ' Description'

               // add label and textarea to the form
               element1.appendChild(new_label);
               element1.appendChild(new_textarea);
            });

            /*
            <td align = "right">Please identify all known stakeholders of the current business process</td>
            <td id = "stakeHolders">
               <input type= "button" value = "Add Stakeholder" id="addStakeHolder">
            </td>
            */
            var button2 = document.getElementById("addStakeHolder");
            var element2 = document.getElementById("stakeHolders");
            var n2 = 0;

            button2.addEventListener('click', function (event) {
               n2++;

               // create new input[text]
               var new_text = document.createElement('input');
               new_text.setAttribute('type', 'text');
               new_text.setAttribute('id', 'stakeHolder_' + n2);
               new_text.setAttribute('name', 'stakeHolder_' + n2);
               new_text.setAttribute('placeholder', 'Enter the stakeholders name here');
               
               // create label for input[text]
               var new_label = document.createElement('label');
               new_label.setAttribute('for', new_text.id)
               new_label.textContent = 'StakeHolder ' + n2

               // add label and textarea to the form
               element2.appendChild(new_label);
               element2.appendChild(new_text);
            });

            /*Dynamically check the database for that people_LOGid, 
            and fill the elements people_firstname, people_lastname, contact 
            details and people_notes
            */
            var people_LOGid_JS = document.getElementById("people_Login_ht");
            //var xhttp = new XMLHttpRequestEventTarget()

            people_LOGid_JS.addEventListener('change', function (event) {
               document.getElementById("people_LOGid_ht").value = "";
               document.getElementById("people_firstname_ht").value = "";
               document.getElementById("people_lastname_ht").value = "";
               document.getElementById("people_contact_info_ht").value = "";
               document.getElementById("people_notes_ht").value = "";
               document.getElementById("name_ht").value = "";
               document.getElementById("people_firstname_ht").removeAttribute("hidden");
               document.getElementById("people_lastname_ht").removeAttribute("hidden");
               document.getElementById("people_contact_info_ht").removeAttribute("hidden");
               document.getElementById("people_notes_ht").removeAttribute("hidden");
               document.getElementById("people_firstname_ht").setAttribute("required", "");
               document.getElementById("people_lastname_ht").setAttribute("required", "");
               document.getElementById("people_contact_info_ht").setAttribute("required", "");
               document.getElementById("people_notes_ht").setAttribute("required", "");
               var people_xhttp = new XMLHttpRequest();
               people_xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                     var data = JSON.parse(this.responseText);

                     console.log(data); //throwing to the console log

                     //if the database found the user, auto populating the 'people' element of the form
                     if (data.length != 0) {

                        //autofilling the data
                        document.getElementById("people_LOGid_ht").value = data[0]['LOGid'];
                        document.getElementById("people_firstname_ht").value = data[0]['firstname'];
                        document.getElementById("people_lastname_ht").value = data[0]['lastName'];
                        document.getElementById("people_contact_info_ht").value = data[0]['contactInfo'];
                        document.getElementById("people_notes_ht").value = data[0]['notes'];

                        document.getElementById("name_ht").value = data[0]['firstName']+' '+data[0]['lastName'];

                        document.getElementById("people_firstname_ht").setAttribute("hidden", "");
                        document.getElementById("people_lastname_ht").setAttribute("hidden", "");
                        document.getElementById("people_contact_info_ht").setAttribute("hidden", "");
                        document.getElementById("people_notes_ht").setAttribute("hidden", "");
                     }
                  }
               };
               people_xhttp.open("GET", "/people_request?login_qu="+document.getElementById("people_Login_ht").value, true); 
               people_xhttp.send();
            });

            /*When the people_firstname and last name values are edited, modify the name field to auto adapt them*/
            var people_firstname_JS = document.getElementById("people_firstname_ht");
            people_firstname_JS.addEventListener('change', function (event) {
               document.getElementById("name_ht").value = document.getElementById("people_firstname_ht").value + ' ' + document.getElementById("people_lastname_ht").value;
            });


            var people_lastname_JS = document.getElementById("people_lastname_ht");
            people_lastname_JS.addEventListener('change', function (event) {
               document.getElementById("name_ht").value = document.getElementById("people_firstname_ht").value + ' ' + document.getElementById("people_lastname_ht").value;
            });

            /*
            Dynamically add in team info if it exists otherwise ask for info, hide/unhide
            */
            var teams_TEid_JS = document.getElementById("teams_teamName_ht");
            //var xhttp = new XMLHttpRequestEventTarget()

            teams_TEid_JS.addEventListener('change', function (event) {
               document.getElementById("teams_TEid_ht").value = "";
               document.getElementById("teams_description_ht").value = "";
               document.getElementById("teams_notes_ht").value = "";
               document.getElementById("name_ht").value = "";

               //unhide the elements
               document.getElementById("teams_description_ht").removeAttribute("hidden");
               document.getElementById("teams_notes_ht").removeAttribute("hidden");

               //create the AJAX request
               var teams_xhttp = new XMLHttpRequest();
               teams_xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                     var data = JSON.parse(this.responseText);

                     console.log(data); //throwing to the console log

                     //if the database found the user, auto populating the 'teams' element of the form
                     if (data.length != 0) {

                        //autofilling the data
                        document.getElementById("teams_TEid_ht").value = data[0]['TEid'];
                        document.getElementById("teams_description_ht").value = data[0]['description'];
                        document.getElementById("teams_notes_ht").value = data[0]['notes'];
                     }
                  }
               };
               teams_xhttp.open("GET", "/teams_request?teamname_qu="+document.getElementById("teams_teamName_ht").value, true); 
               teams_xhttp.send();
            });

            /*
            trigger INSERT queries for adding people and adding teams
            */
            var addPersonRequest_JS = document.getElementById("addPersonRequest");
            var addTeamRequest_JS = document.getElementById("addTeamRequest");

            addPersonRequest_JS.addEventListener('click', function (event) {

               //create the AJAX request
               var people_add_xhttp = new XMLHttpRequest();
               people_add_xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                     var data = JSON.parse(this.responseText);

                     console.log(data); //throwing to the console log
                  }
               };
               people_add_xhttp.open("POST", "/addPersonRequest", true); 
               people_add_xhttp.setRequestHeader("Content-Type", "application/json;charset=utf-8");

               people_add_xhttp.send(JSON.stringify({
                  "LOGid":document.getElementById("people_LOGid_ht").value,
                  "login":document.getElementById("people_Login_ht").value, 
                  "firstName":document.getElementById("people_firstname_ht").value,
                  "lastName":document.getElementById("people_lastname_ht").value,
                  "contactInfo":document.getElementById("people_contact_info_ht").value,
                  "notes":document.getElementById("people_notes_ht").value,
                  "TEid":document.getElementById("teams_TEid_ht").value}));
            });

            /*
            trigger INSERT queries for adding people and adding teams
            */
            addTeamRequest_JS.addEventListener('click', function (event) {

               //create the AJAX request
               var team_add_xhttp = new XMLHttpRequest();
               team_add_xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                     var data = JSON.parse(this.responseText);

                     console.log(data); //throwing to the console log
                  }
               };
               team_add_xhttp.open("POST", "/addTeamRequest", true);
               team_add_xhttp.setRequestHeader("Content-Type", "application/json;charset=utf-8");

               team_add_xhttp.send(JSON.stringify({"teamName":document.getElementById("teams_teamName_ht").value,
                  'description':document.getElementById("teams_description_ht").value,
                  'notes':document.getElementById("teams_notes_ht").value}));
            });

        //-->
     </script>  
</html>