<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Fraudtech</title>
    </head>
    <body>
        <h1>Fraudtech feature request</h1>
    </body>

</html>

<html lang="en">   
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="stylesheet" href="css/style.css" />
      <title>Form Validation</title>      
      
   </head>
   
   <body>
      <form action = "./submit" id = "myForm" name = "myForm" onsubmit = "return(validate());" method = "POST">
         <table cellspacing = "2" cellpadding = "2" border = "1">

            <tr>
               <td align = "right">Login</td>
               <td><input type = "text" name = "Login" /></td>
            </tr>

            <tr>
               <td align = "right">Name</td>
               <td><input type = "text" name = "Name" /></td>
            </tr>
            
            <tr>
               <td align = "right">What is the business proccess name/tool name</td>
               <td><textarea name = "ProcName" rows = "5" cols = "80"/>
               type your process name here
               </textarea></td>
            </tr>
            
            <tr>
               <td align = "right">Please provide a brief summary of the current business process and time taken to complete</td>
               <td><textarea name = "OldDesc"  rows = "5" cols = "80"/>
               Give us the description of the old process here
               </textarea></td>
            </tr>

            <tr>
               <td align = "right">How many staff are or will use the tool/process</td>
               <td>
                  <input type = "number" name = "NoStaff" min = "1"/>
               </td>
            </tr>

            <tr>
               <td align = "right">Please provide a numbered list of all the required features</td>
               <td id = "reqFeatures">
                  <input type= "button" value = "Add element" id="addReqFeature">
               </td>
            </tr>

            <tr>
               <td align = "right">Please attach any supporting documents</td>
               <td>
                  <input type = "file" name = "Attach" />
               </td>
            </tr>
            
            <tr>
               <td align = "right"></td>
               <td>
                  <input type = "submit" value = "Submit" id = "Submit"/>
                  <input type= "button" value = "Download" onclick="download(myForm)" id="Download" />

                  </td>
            </tr>
            
         </table>
      </form>      
   </body>
   <script type = "text/javascript">
        //<!--
           // Form validation code will come here.
           function validate() {
           
              if( document.myForm.Name.value == "" ) {
                 alert( "Please provide your name!" );
                 document.myForm.Name.focus() ;
                 return false;
              }
              return( true );
           }

           function downloadData(contentType,data,filename){
               
               var link=document.createElement("A");
               link.setAttribute("href",encodeURI("data:"+contentType+","+data));
               link.setAttribute("style","display:none");
               link.setAttribute("download",filename);
               document.body.appendChild(link); //needed for firefox
               console.log(link.outerHTML);
               link.click();
               setTimeout(function(){
                  document.body.removeChild(link);
               },1000);
            }
            
            function fromToXml(form){
               var xmldata=['<?xml version="1.0"?>'];
                  xmldata.push("<form>");
               var inputs=form.elements;
               for(var i=0;i<inputs.length;i++){
                  var el=document.createElement("ELEMENT");
                  if (inputs[i].name){
                     el.setAttribute("name",inputs[i].name);
                     el.setAttribute("value",inputs[i].value);
                     xmldata.push(el.outerHTML);
                  }
                  
               }
               xmldata.push("</form>");
               return xmldata.join("\n");
            }
            
            
            function download(frm){
               
               if (!validate()){
                  alert("Please enter correct email ID")
                  document.myForm.EMail.focus() ;
                  return false;
               }
               var data=fromToXml(frm);
               console.log(data);
               
               downloadData("text/xml",data,"export.xml");
            }

            var button = document.getElementById("addReqFeature");
            var element = document.getElementById("reqFeatures");
            var n = 0;

            button.addEventListener('click', function (event) {
               n++;

               // create new textarea
               var new_textarea = document.createElement('textarea');
               new_textarea.setAttribute('id', 'feature_' + n);
               new_textarea.setAttribute('name', 'feature_' + n);
               
               // create label for textarea
               var new_label = document.createElement('label');
               new_label.setAttribute('for', new_textarea.id)
               new_label.textContent = 'Feature ' + n + ' Description'

               // add label and textarea to the form
               element.appendChild(new_label);
               element.appendChild(new_textarea);
            });
        //-->
     </script>  
</html>